<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <p>Edit Course</p>
    <div class="input">
        ID <input disabled class="input-edit" id="id-course" type="text">
        Name <input class="input-edit" id="name-course" type="text">
        Descript <input class="input-edit" id="descript-course" type="text">
        Valid <input class="input-edit" id="valid-course" type="text">
        Total Time <input class="input-edit" id="total-course" type="text">
    </div>
    <button id="dialog-ok">OK</button>
    <button id="dialog-cancle" onclick="dialog.exit('cancel')">Cancel</button>
    <!-- SCRIPTS -->
    <script src="../js/admin.js"></script>
    <script src="../js/editCourse.js"></script>
</body>

</html>