<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script>
            window.onload = function() {
                document.querySelector('#msg').innerHTML = dialog.argument.questionById
            alert(dialog.argument.questionById[0].id);
            alert(dialog.argument.arrAnswerByQId[3].content);

          };
        </script>
</head>

<body>
        <p id="msg"></p>

    <p>Edit Answer</p>
    <div class="input">
        <input  type="hidden" class="input-edit" id="id-questions">
        Category <input class="input-edit" id="category-questions" type="text">
        Answer option <input id="single-questions" type="radio" name="choose-answer" value="single">Single
        <input id="multiple-questions" type="radio" name="choose-answer" value="multiple">Multiple
        Content <input class="input-edit" id="content-questions" type="text">
        Course ID <input class="input-edit" id="courseId-questions" type="text">
        
    </div>
    <button id="dialog-ok">OK</button>
    <button id="dialog-cancle" onclick="dialog.exit('cancel')">Cancel</button>
    <!-- SCRIPTS -->
    <script src="../js/admin.js"></script>
    <script src="../js/edit/editAnswer.js"></script>
    
</body>

</html>