<!-- 
Hover or Click in each element to see flip and bounceInLeft Effects.
Best view in full preview.
 -->

<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Responsive List</title>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/index.css">

</head>

<body>

    <div class="responsive">
        <div id="navibar" class="navibar">
            <button id="logout-button" class="btn draw-border">Logout</button>
        </div>
        <ul id="course-list" class="content">

        </ul>
    </div>
    <script>
        require('../js/index-user.js');
    </script>

</body>

</html>