<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Quiz</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css'>
  <link rel="stylesheet" href="../css/quiz.css">
</head>

<body>
  <section class="hero is-primary is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-mobile is-centered">
          <div class="column is-half">
            <div class="has-text-centered">
              <h1 class="title has-text-centered">The awesome CSS quiz</h1>
              <h7 class="subtitle has-text-centered is-uppercase is-7 navigation">QUESTION 1 OF 1</h7>
              <h5 class="subtitle has-text-centered is-5">What does CSS stand for?</h5>
              <p class="option has-text-grey-dark">
                <span class="has-text-weight-bold is-size-5">A</span> Cascading Style Sheets
              </p>
              <p class="option has-text-grey-dark">
                <span class="has-text-weight-bold is-size-5">B</span> Creative Style Sheets
              </p>
              <p class="option has-text-grey-dark">
                <span class="has-text-weight-bold is-size-5">C</span> Computer Style Sheets
              </p>
              <p class="option has-text-grey-dark">
                <span class="has-text-weight-bold is-size-5">D</span> Colorful Style Sheets
              </p>
              <a class="button is-primary is-inverted is-outlined is-rounded is-fullwidth">Check my answer</a>
            </div>
          </div>
        </div>
      </div>
  </section>
</body>

</html>